
/*{outline: 1px solid red;}


/*========= GENERAL =========*/
body{
    margin: 0px;
    
}
.container{
    margin: 0px;
    height: 100vh;
    width:auto;
    display:grid;
    grid-template-rows: 70px auto 200px;
}

/*hr*/
.red{
    height: 4px;
    border-width: 0;
    color: #BE1D24;
    background-color: #BE1D24;
}

.grey{
    height: 1px;
    border-width: 0;
    background-color:lightgray;
    margin:0;
}

.maroon{
    height: 2px;
    border-width: 0;
    color: #49090C;
    background-color: #49090C;
}

/*Nav Bar*/
.nav{
    height: 70px;
    width: 100%;
    text-align: center;
    display: inline-flex;
    background-color: #FFC500;
    
}

.nav a{
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    font-weight:400;
    color: black;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;;
    width: auto;
}

.nav a:hover{
    background-color: #ff7f17;
    
}

.nav #selected{
    
    background-color: #BE1D24;
    color: white;
}

.nav hr{
    display: none;
}

.logo{
    height: 50px;
    width: auto;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: 2px solid #49090C;
}

/*Main Block*/
.banner{
    width: 100%;
    height: auto;
}
.mainBlock{
   background-color: white;
    margin-right: auto;
    
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #FFC500;
    margin-top: auto;
}

.pageTitle{
    font-family: 'Exo 2', sans-serif;
    font-size: 3em;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:15px;
    text-align: left;
}

p1{
    font-size: 2em;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

p2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em; 
    font-weight: 300;
}

.mainBlock .maroon{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.spacer{
    margin:20px;
}

/*========= HOME =========*/
.greeting{
    font-family: 'Exo 2', sans-serif;
    font-size: 3em;
    padding: 10px;
    text-align: center;
}

.greeting p{
    padding-left: 20px;
}

/*========= INSTRUCTIONS =========*/

.instrNav a{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding:20px;
    font-size: 1.5em;
}
.instrNav{
    width:auto;
    display: block;
}

.instrBar img{
    height:100%;
    width:100%;
}


 .instrNav a:hover{
    background-color: #237935;
    color: white;
 }

.instrNav .icon{
    height: 30px;
    width:auto;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
}

a:hover .icon{
    content: url("img/arrow-white.svg");
    /*found solution thanks to stack overflow:
    https://stackoverflow.com/questions/52365130/to-change-icon-and-text-color-of-button-on-mouse-hover-in-menu-component*/
}

.itfi hr{
    margin: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.itfi img{
    height:auto;
    width:100%;
    
}

.ad p1{
    padding-right: 15px;
}

.ad .text{
    padding-right: 20px;
}

.ad{
    padding: 15px;
    padding-left: 25px;
    padding-bottom: 30px;
}

.buyButton{
    margin-left: auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom:auto
}

.buyButton a{
    text-decoration: none;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    padding: 20px;
    background-color: #237935;
}

.buyButton a:hover{
    background-color: #53b62d;
}

/*========= PRODUCTS =========*/

.productNav img{
    height: auto;
    width: auto;
    object-fit: cover;
}

.productNav a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.5em;
    text-align: center;
}

.productNav p{
    padding: 15px;
    margin-top:-5px; /*I don't know why, i WANT to know why, but it just wont align properly unless i do this bs T-T*/
}

.productNav a:hover p{
    color:white;
    background-color: #237935;
}

.productNav a:hover img{
    opacity: 75%;
}

.productNav .grey{
    margin-top: -24px;
    margin-bottom:15px;
}

/*========= ABOUT =========*/

.aboutBlock p1{
    font-weight:400;
}

.aboutBlock hr{
    margin-top: 15px;
    margin-bottom: 15px;
}

.aboutBlock p{
    display: inline;
    font-family: 'Roboto', sans-serif;
}

.aboutBlock img{
    width: 100%;
    height:auto;
}

.aboutA img{
    width: 100%;
    height: auto;
}

.aboutA p{
    width:100%;
    text-align:center;
    font-family: 'Exo 2', 'sans-serif';
    font-size: 2em;
    margin-left:auto;
    margin-right:auto;
    color:#49090C;
}

.aboutBlock .text{
    padding:15px;
}

/*========= CONTACT =========*/

.contactBlock{
    margin-left:20px;
    margin-right:20px;
    padding-bottom:15px;
}

.contactBlock .grey{
    margin-top:15px;
    margin-bottom:15px;
    width: 75%;
}

.contactBlock p{
    font-family: 'Roboto', sans-serif;
    display: inline;
}

.report{
    display: block;
    margin: 20px;
}

.report hr{
    width: 90%;
    margin-top:15px;
}

.report img{
    width: 100%;
    height: auto;
}

.report p{
    font-family: 'Roboto', sans-serif;
}

p3{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.25em;
    color:#49090C;
}

.report .button{
    margin-left: auto;
    margin-right:auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.report a{
    text-decoration: none;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.25em;
    color: white;
    background-color: #BE1D24;
    padding: 15px;
}

.report a:hover{
    background-color: #ff4f1a;
}

.report text{
    display: block;
}
/*========= sm =========*/
@media (min-width: 576px){
    .productNav img{
        width:100%;
        height: 200px;
    }
    .productNav a{
        width:97%;
    }
    .productNav{
        display:grid;
        grid-template-columns: auto auto;
        padding:15px;
    }
}

/*========= md =========*/
@media (min-width: 768px){
    .productNav img{
        width:100%;
        height: 280px;
    }

    .buyButton{
        margin-top: 30px;
    }
}

/*========= lg =========*/
@media (min-width: 992px){
    /*General*/
    .container{
       display: grid;
       grid-template-columns: auto auto;
       grid-template-rows: auto 200px;
    }

    .nav{
        height: auto;        
        width: 200px;
        display: block;
    }

    .nav a{
        display: block;
        text-align: left;
        font-size: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav hr{
        display: block;
        margin: 10px;
        height: 4px;
        color:#49090C;
        background-color: #49090C;
    }

    .instrBar a{
        font-size: 1.25em;
    }

    .footer{
        grid-column:1/3;
    }
    /*Home*/

    .greeting{
        font-size: 2.5em;
        text-align: left;
    }

    .logo{
        height: 75px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
    }

    /*Instructions*/
    .instrBar{
        display:grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px;
    }

    .ad{
        display: grid;
        grid-template-columns: auto auto;
    }

    .instrNav .icon{
        height: 20px;
    }

    /*About*/
    .aboutBlock{
        display: grid;
        grid-template-columns: auto auto;
        margin:15px;
    }

    .aboutBlock p{
        font-size: 1em;
    }

    /*Products*/
    .productNav{
        display: grid;
        grid-template-columns: auto auto auto;

    }

    .productNav a{
        font-size: 1.25em;
        text-align: left;
    }

    .productNav img{
        height: 200px;
    }

    .productNav .grey{
    margin-top: -20px;
    }

    /*Contact*/
    .contactBlock{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contactBlock .maroon{
        display:none;
    }

    .report{
        display: grid;
        grid-template-columns: auto auto;
        margin-left:15px;
    }
}

/*========= xl =========*/
@media (min-width: 1200px){
    .container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto 250px;
     }
    .nav{
        width: 250px;
    }

    .nav a{
        font-size: 1.8em;
    }

    .footer{
        height: 250px;
    }

    .logo{
        height: 90px;
    }

    /*Products*/
    .productNav{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}
